* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.keyboard {
    display: flex;
    height: 400px;
}

.left-buttons {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
}

.right-buttons {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.line {
    flex-grow: 1;
    display: flex;
}

.button {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(0, 0, 0);
    margin: 0 -2px -2px 0;
    font-size: 26px;
    flex-shrink: 0;
    flex-basis: 0;
}

.equal,
.clear,
.zero {
    flex-grow: 2;
}

.clear,
.zero {
    padding-right: 2px;
}

.equal {
    background-color: #4285f4;
}

.equal{
    padding-top: 2px;
}

.display {
    height: 80px;
    background-color: rgb(240, 240, 240);
    margin-bottom: 10px;
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 320px;
    padding: 16px;
    margin: 0 auto;
}

.current-input {
    font-size: 36px;
}

.previous-input {
    font-size: 18px;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 16px;
}

.right-buttons .button {
    margin-right: 0;
}

.last .button,
.equal {
    margin-bottom: 0;
}

.copyright {
    text-align: center;
    font-size: 10px;
}

.operator {
    background-color: rgb(229, 229, 229);
}

.button:hover {
    background-color: rgb(205, 205, 205);
}

.equal:hover {
    background-color: #3874d4;
}

.button:active {
    background-color: rgb(185, 185, 185);
}

.equal:active {
    background-color: #346bc2;
}