* {
    margin: 0;
    padding: 0;
}

.digits-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
}

.digit-line {
    display: flex;
    flex-grow: 1;
}

.digit, 
.point {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px;
    border-style: solid;
    margin-right: -2px;
    margin-bottom: -2px;
}

.zero {
    flex-grow: 2;
    box-sizing: border-box;
    padding-right: 1.67px;
}